.go-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 30;
}

.go-to-top .arrow-top-container {
  padding: 1em;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  border-radius: 100px;
}

.go-to-top .arrow-top {
  font-size: 1.2rem;
  color: var(--white);
}
