.testimonials {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 4em 1em;
}

.testimonials-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.testimonials-wrapper > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

.testimonials-wrapper > div:first-child h3 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-weight: 600;
  text-transform: capitalize;
}

.testimonials-wrapper > div:first-child p {
  text-transform: capitalize;
}

.testimonials-card {
  background-color: var(--white);
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  border-radius: 10px;
}

.testimonials-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-bottom: 2em;
}

.testimonials-card:hover img {
  transform: scale(0.95);
  transition: 0.3s ease-in-out;
}

.testimonials-card > p:first-of-type {
  font-weight: 600;
}

.testimonials-card > p:nth-of-type(2) {
  font-size: 1.1rem;
}

.testimonials-card p {
  text-align: center;
  margin-bottom: 0.5em;
}

.testimonials .divider {
  height: 6px;
  width: 100px;
  margin: 1em 0;
  background-color: var(--light-gray);
}

.testimonials .ratings-container {
  display: flex;
  gap: 0.3em;
  margin: 1em 0;
}

.testimonials .rating {
  color: var(--tertiary-color);
  font-size: 1.2rem;
}

.testimonials .swiper-button-prev::after,
.testimonials .swiper-button-next::after {
  display: none;
  pointer-events: none;
  cursor: default;
}

.testimonials .slide-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  line-height: 1;
  margin-top: -2em;
  cursor: pointer;
  background-color: var(--tertiary-color);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.testimonials .slide-arrow:hover {
  opacity: 0.3;
}

.testimonials .slide-arrow.swiper-button-disabled {
  display: none;
}

.testimonials .slide-icons {
  font-size: 20px;
  color: #fff;
}

.testimonials .swiper-container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding: 7em 1em;
  }

  .testimonials-wrapper > div:first-child h3 {
    font-size: 3rem;
    margin-bottom: 0.2em;
  }

  .testimonials-wrapper > div:first-child p {
    font-size: 1.2rem;
    width: 50%;
  }

  .testimonials .slide-arrow {
    width: 52px;
    height: 52px;
  }

  .testimonials .slide-icons {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .testimonials-wrapper > div:first-child p {
    width: 40%;
  }
}
