* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.form-control:focus,
.form-select:focus {
  background-color: #fff;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

:root {
  --primary-color: #fcfffc;
  --secondary-color: #040f0f;
  --tertiary-color: #248232;
  --white: #fff;
  --dark-gray: #2d3a3a;
  --light-gray: hsl(0, 0%, 83%);
}
